<html>
<head>
</head>

<body>
  
  <div class='wholepage'>

  <h1>London Olympics 2012 Medals</h1>

  <div class='intro'>
  <p>This web application was developed by Ross Gordon, Jamie Pryde and Sandra Rubio for CS2512 AWAD.</p>
  </br></br></br>
  <p>MAP: <form action="/showmap"><input type="submit" value="Click here"> to view a map of the countries that took part in the 2012 London Olympic Games and the number of gold medals they won.</p>
  <p>TWITTER: Click here to view the olympic twitter feed.</p>
  </br></br></br>
  <h3>Search for a country</h3>
  <form action ="medals/search" method="post">
  <input name = "key" type="input" />
  <input value="Send" type="submit"/>
  </form> 
  </br>
  </div>
  
  
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th style="color:goldenrod">Gold</th>
        <th style="color:silver">Silver</th>
        <th style="color:saddlebrown">Bronze</th>
      </tr>
   </thead>

    <tbody>
     <% @medals.each do |medal| %>
        <tr>
          <td><%= medal.name %></td>
          <td style="color:goldenrod"><%= medal.gold %></td>
          <td style="color:silver"><%= medal.silver %></td>
          <td style="color:saddlebrown"><%= medal.bronze %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  </div>
  
</body>
</html>