.wholepage
{
    font-family:times;
}

h1
{
    text-align:center;
    color:red;
}

.intro
{
    text-align:center;
    font-style:italic;
}

table, th, td
{
    border: 1px solid black;
}

table
{
    width:50%;
    margin-left:25%;
    margin-right:25%
}

th
{
    height:50px;
}

td
{
    text-align:center;
}

#map_canvas
{
    margin-left:25%;
    margin-right:25%;
}

.mapcontrols
{
    margin-left:25%;
    margin-right:25%;
}

.button
{
    float:left;
    text-align:center;
    padding:1px;
    font-family:times;
    border:1px solid black;
    margin-right:4px;
}

.livedata
{
    text-align:left;
}

.search
{
    text-align:center;
}